.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  /* Create four equal columns that sits next to each other */
.column {
    flex: 33%;
    max-width: 33%;
    padding: 2px 4px;
}
  
.column img {
    max-width: 350px;
    width: 100%;
    margin: 10px 0;
    vertical-align: middle;
    border: 3px outset black;
    border-radius: 10px;
}
aside {
    border: 2px solid black;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 1em;
    margin: 1em 2em;
    padding-bottom: 1em;
}
aside p {
    text-align: left;
    text-indent: 20px;
    margin: 0 1em;
}
aside h1 {
    margin-bottom: 0.6em;
}
@media only screen and (max-width: 700px) {
    aside {
        border: none;
        margin: 0;
    }
}